*{
    margin: 0px;
    padding: 0px;
}
.container{
    margin: 10px auto;
    padding: 0px;
    width: 950px;
    height: auto;
    border: black solid 1px;
    background-color: darkgray;
}
.nav{
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    
}
.register{
    margin: 10px;
    width: 500px;
    text-align: right;
}