*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 1024px;
    height: 768px;
    /* border: black solid 1px; */
    border-top: rgb(199, 230, 243) solid 3px;
    border-right: rgb(199, 230, 243) solid 3px;
    background-image: linear-gradient(to bottom left, rgba(199, 230, 243), rgba(199, 230, 243, 0));
}
.header{
    text-align: right;
}
.body{
    display: flex;
    justify-content: space-between;
    width: auto;
}
.body_left{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: rgb(197, 197, 197) solid 1px;
    /* background-image: linear-gradient(to bottom left, rgba(199, 230, 243), rgba(199, 230, 243, 0)); */
    border-radius: 5px;
    padding: 2px;
    background-color: rgb(61, 56, 56);
}
.body_left a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.body_left a:hover{
    color: rgb(248, 96, 90);
}

.body_left a:link{
    /* border: black solid 1px; */
    margin: 10px 5px;
    padding: 2px;
    font-size: small;
    /* background-color: white; */
    width: 150px;
}
.class_info{
    border:  rgb(156, 156, 156) solid 5px;
    border-radius: 5px;
    padding: 2px;
}
.body_right h3{
    border-radius: 5px;
    padding: 2px;
    width: 400px;
    border: rgb(156, 156, 156) solid 5px;
}
.body_right{
    border-radius: 5px;
    padding: 2px;
    width: 800px;
}
.body_right h4{
    text-align: center;
    margin-top: 10px;
    padding: 2px;
    /* border: black solid 2px; */
    border-radius: 5px;
    color: rgb(7, 97, 109);;
}
.info{
    margin-top: 10px;
    padding-left: 120px;
    width: 800px;
    display: flex;
    justify-content: space-between;
}
select{
    width: 200px;
}
button{
    width: 200px;
}
.info_left, .info_right{
    width: 300px;
    height: auto;
    border:  rgb(156, 156, 156) solid 2px;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
}
.image{
    background-color: white;
    /* border: black solid 5px; */
    text-align: center;
}
.image img{
    width: 250px;
    height: 250px;
    margin: 10px;
}
.lower_body{
    display: flex;
    justify-content: space-between;
    font-size: small;
}
.lower_body_left{
    margin: 10px 0px;
    width: 150px;
}
.lower_body_left h6{
    padding: 2px;
    border: rgb(156, 156, 156) solid 1px;
    border-radius: 5px;
    width: 175px;
    text-align: center;
    color: rgb(7, 97, 109);
}
.class_list{
    /* border:  rgb(156, 156, 156) solid 1px; */
    width: 175px;
    height: 200px;
    border-radius: 5px;
    overflow: auto;
}
.lower_body_left button{
    margin: 10px 0px;
    width: 175px;
}
#cac{
    text-decoration: none;
    color: white;
}
.bulletin{
    padding: 10px;
    border:  rgb(156, 156, 156) solid 2px;
    width: 800px;
    height: 225px;
    text-align: center;
    border-radius: 5px;
    overflow: auto;
}
.contact_info{
    margin: 10px 0px 0px 0px;
    width: auto;
}

#com_ph_addr span{
    margin-left: 10px;
}

#com_e_med{
    margin-left: 10px;
}

#com_name{
    /* border:  rgb(156, 156, 156) solid 1px; */
    margin-left: 10px;
    /* padding-left: 5px; */
}

.add_message{
    margin: 5px 0px 0px 0px;
}

.bulletin li{
    margin-top: 10px;
    font-size: 1.0rem;
    font-weight: bold;
}

.list-group a{
    color: black;
}