<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, {{user.first_name}}</h1>
    <a href="/logout">Logout</a>
    <hr>
    <div id="navigation">
        <a href="#">Home</a>
        <a href="/about_us">About Us</a>
        <a href="/image/all">Project Showcase</a>
        <a href="/class_info">Class Info</a>
        <a href="/request_appointment">Request Appointment</a>
        <a href="#">Helpful Links</a>
    </div>
    <div id="main">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ipsum, commodi suscipit facilis atque magni reprehenderit vitae tempore molestias, quia culpa voluptates cumque, quisquam odio placeat? Ea consequuntur necessitatibus rem!</p>
    </div>
</body>
</html>