<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/about_us/style.css' %}" />
    <title>About Us</title>
</head>
<body>
    <div class="container">
        <div class="body">
            <div class="body_left">
                <a href="/user_homepage">Home</a>
                <a href="/about_us">About Us</a>
                <a href="/image/all">Project Showcase</a>
                <a href="/class_info">Class Info</a>
                <a href="/request_appointment">Request Appointment</a>
                <a href="#">Helpful Links</a>
            </div>
            <div class="body_right">
                <div class="image">
                    <img src="{% static 'img/basic_img.jpg' %}" alt="img">
                </div>
            </div>
        </div>
    
        <div class="lower_body">
            <h1>About Us</h1>
            <h4>We are Ace Art Academy!</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ipsum, commodi suscipit facilis atque magni reprehenderit vitae tempore molestias, quia culpa voluptates cumque, quisquam odio placeat? Ea consequuntur necessitatibus rem!</p>

        </div>
        <div class="contact_info">
            <span id="com_name">Ace Art Academy</span>
            <div id="com_ph_addr">
                <span>100 Charming Ave </span>
                <span>(916) 223-4586 </span>
            </div>
        
            <div id="com_e_med">
                <span>AceArt@gmail.com </span>
                <span style="margin-left: 10px;">Follow us on Facebook: #AceArt </span>
            </div>
        </div>
    </div>
</body>
</html>