<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="navigation">
        <a href="/user_homepage">Home</a>
        <a href="/about_us">About Us</a>
        <a href="/image/all">Project Showcase</a>
        <a href="/class_info">Class Info</a>
        <a href="/request_appointment">Request Appointment</a>
        <a href="#">Helpful Links</a>
    </div>
    <h1>Request an appointment below!</h1>
    <!-- Calendly inline widget begin -->
    <div class="calendly-inline-widget" data-url="https://calendly.com/python_project" style="min-width:320px;height:630px;"></div>
    <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
    <!-- Calendly inline widget end -->
</body>
</html>