<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome, {{user.first_name}}</h1>
    <a href="/logout">Logout</a>
    <hr>
    <div id="navigation">
        <a href="#">Home</a>
        <a href="#">About Us</a>
        <a href="#">News</a>
        <a href="#">Project Showcase</a>
        <a href="#">Class Info</a>
        <a href="#">Contact Us</a>
        <a href="#">Helpful Links</a>
    </div>
    <div id="content">
        <h1>{{this_class.subject}}</h1>
        <p>Class Description: {{this_class.desc}}</p>
        <p>Class time: {{this_class.schedule_day}} at {{this_class.schedule_time}}</p>
        <p>Start Date: {{this_class.start_date|date}}</p>
        <p>End Date: {{this_class.end_date|date}}</p>
        {% if user.access_level == 'teacher' %}
        <form action="/class/{{this_class.id}}/edit" method="post">
            {% csrf_token %}
            <input type="submit" value="Edit Class Information">
        </form>
        {% endif %}
    </div>
    <div id="projects">
        <h3>Assigned Projects:</h3>
        {% for project in this_class.course.all %}
            <a href="#">{{project.title}}</a>
        {% endfor %}

        {% if user.access_level == teacher_level %}
            <p>Create New Project for Class:</p>
            <form action="/add_project/{{this_class.id}}" method="post">
                {% csrf_token %}
                <label for="title">Project Name: </label>
                <input type="text" name="title" id="title"><br>
                <label for="due_date">Project Due Date: </label>
                <input type="date" name="due_date" id="due_date"><br>
                <label for="desc">Description: </label>
                <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
                <input type="submit" value="Create Project">
            </form>
        {% endif %}
    </div>
    <div id="students">
        <h3>Students: </h3>
        {% for student in this_class.parent_classes.all %}
            <a href="#">{{student.first_name}} {{student.last_name}}</a>
        {% endfor %}

        {% if user.access_level == teacher_level %}
            <p>Add Student to class</p>
            <form action="/add_student/{{this_class.id}}" method="post">
                {% csrf_token %}
                <select name="list_of_students" id="list_of_students">
                    {% for student in all_students %}
                        <option value="{{student.id}}">{{student.first_name}} {{student.last_name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Add Student">
            </form>
        {% endif %}
    </div>
    
</body>
</html>