<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homepage/style.css' %}" />
    <title>Homepage</title>
</head>
<body>

<div class="container">
    <div class="nav">
        <p>PLACEHOLDER: Logo?</p>
        <p><a href="#0"> PLACEHOLDER: Link</a></p>
        <p><a href="#0"> PLACEHOLDER: Link</a></p>
        <p><a href="#0"> PLACEHOLDER: Link</a></p>
        <p><a href="#1">Register</a> | <a href="#2">Login</a></p>
    </div>
    <div class="body">
        <div class="body_content">
            <h4>Studio and Intro</h4>
            <p>Description Info:</p>
        </div>
    </div>
</div>

</body>
</html>