<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
{% for user in all_users %}
<p>{{user.first_name}}</p>
<p>{{user.last_name}}</p>
<p>{{user.street_address}}</p>
<p>{{user.city}}</p>
<p>{{user.state}}</p>
<p>{{user.zip_code}}</p>
<p>{{user.access_level}}</p>
<p>{{user.phone}}</p>
<p>{{user.email}}</p>
<p>{{user.password}}</p> 
<p>{{user.related_user}}</p> 
<p>{{user.created_at}}</p> 
<p>{{user.updated_at}}</p> 
{% endfor %}

</body>
</html>