<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit User</title>
    </head>
    <body>
        <div id="navbar">
            {# container for nav bar #}
        </div>

        <div id="rightcontent">
            
            <p><a href="/logout">Log out</a></p>
            
            <div>
                <img id="main_img" src="" alt="">
            </div>

            <div id="project_edit">
                <form action="/process_edit_project/{{cur_proj.id}}" method="POST">
                    {% csrf_token %}
                    <div>
                        <label for="title">Title: </label>
                        <input type="text" name="title" id="title">
                    </div>

                    <div>
                        <label for="due_date">Deadline: </label>
                        <input type="datetime-local" name="due_date" id="due_date">
                    </div>

                    <div>
                        <p for="desc">Description:</p>
                        <textarea name="desc" id="desc" cols="50" rows="10"></textarea>
                    </div>

                    <div>
                        <p>Choose a class for this project: </p>
                        <select name="course" id="course">
                            {% for course in all_classes %}
                            <option value="course.id">couse.name</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>
                        <input type="submit" name="submit" value="Update Project">
                        <button><a href="/edit_project/{{cur_proj.id}}">Cancle</a></button>
                    </div>
                </form>

                <div id="message">
                    {% if messages %}
                        {% for message in messages %}
                            {% if "edit_proj_err" in message.tags %}
                            <li>{{message}}</li>
                            {% endif %}
                            {% if "success" in message.tags %}
                            <li>{{message}}</li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                
            </div>