<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project Detail</title>
    </head>
    <body>
        <div id="navbar">
            {# container for nav bar #}
        </div>

        <div id="rightcontent">
            
            <p><a href="/logout">Log out</a></p>
            
            <div>
                <img id="main_img" src="" alt="">
            </div>

            <div id="project_info">
                <h2>{{cur_proj.title}}</h2>
                {% if logged_user in cur_proj.reviewed_by_user.all %}
                <p><a href="/process_unreviewed/{{cur_proj.id}}">Click to unmark finished this project</a></p>
                {% else %}
                <p><a href="/process_reviewed/{{cur_proj.id}}">Click to mark finished this project</a></p>
                {% endif %}
                

                <div>
                    <P>Assigned Class: {{cur_proj.course}}</P>
                    <P>Deadline: {{cur_proj.due_date|date:"f a F j, Y"}}</P>
                    <P>Description: {{cur_proj.desc}}</P>
                    <p>This project currently has {{total_images}} art works.</p>
                    <p><a href="/all_image">Show All Art Work</a></p>
                    <p><a href="/edit_project/{{cur_proj.id}}">Edit This Project</a></p>
                </div>
                <div>
                    {% if messages %}
                        {% for message in messages %}
                            {% if "upload_err" in message.tags %}
                                <li>{{message}}</li>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <form action="/process_upload/{{cur_proj.id}}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="submit" id="submit" value="Submit">
                </form>



                
            </div>

        </div>
    </body>
</html>