<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/user_homepage/style.css' %}" />
    <title>User Page</title>
</head>
<body>
    
<div class="container">
    <div class="header">
        <p><a href="/user_info">{{user.first_name}}</a> | <a href="/logout">Logout</a></p>
    </div>
    <div class="img"> 
        <img src="{% static 'img/basic_img.jpg' %}" alt="img">
    </div>
    <div class="body">
        <div class="body_left">
            <a href="/user_homepage">Home</a>
            <a href="/about_us">About Us</a>
            <a href="/image/all">Project Showcase</a>
            <a href="/class_info">Class Info</a>
            <a href="/request_appointment">Request Appointment</a>
            <a href="#">Helpful Links</a>
        </div>
        <div id="wall">
            <h2>Latest News: </h2>
            {% for bulletin in all_bulletin reversed %}
                <h3>{{ bulletin.bulletin }}</h3>

                {% if bulletin.user.id == request.session.user_id %}
                    <form action="/bulletin/{{bulletin.id}}/delete">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}

            {% endfor %}

            {% if user.access_level == 'teacher' %}
            <form action="/bulletin/add_bulletin" method="POST">
                {% csrf_token %}
                <label for="bulletin">Post on Bulletin Board</label><br>
                <textarea name="bulletin" id="bulletin" cols="50" rows="10"></textarea><br>
                <button type="submit">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

</body>
</html>