<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/image_detail/style.css' %}" />
    <title>View: {{this_image.title}}</title>
</head>
<body>
    <div class="container">
            <div class="header">
                <p><a href="/user_info">{{user.first_name}}</a> | <a href="/logout">Logout</a></p>
            </div>
        
        <div class="body">
            <div class="body_left">
                <a href="/user_homepage">Home</a>
                <a href="/about_us">About Us</a>
                <a href="/image/all">Project Showcase</a>
                <a href="/class_info">Class Info</a>
                <a href="/request_appointment">Request Appointment</a>
                <a href="#">Helpful Links</a>
            </div>
            <div class="body_right">
                <div class="image">
                    <img src="{% static 'img/basic_img.jpg' %}" alt="img">
                </div>
            </div>
        </div>
    
        <div id="image_holder">
            <h3>{{this_image.title}}</h3>
            <img src="{{this_image.picture.url}}" alt="{{this_image.id}}"><br>
            <a style="font-size: 0.9rem;" href="#">By: {{this_image.submitter.first_name}}</a>
        </div>
        <div style="margin: 20px 0;" id="wall">
            <form action="/image/{{this_image.id}}/add_message" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="message">Message: </label><br>
                    <textarea name="message" id="message" class="form-control" rows="3"></textarea>
                </div>
                <button class="btn btn-primary mb-2" type="submit">Post a message</button>
            </form>
            
            
            {% for message in all_messages %}
            <div style=" margin: 20px 0; border-radius: 5px; border: 1px gray solid; padding: 20px;">
                {% if message.image_comment.id == this_image.id %}
                    <h5>{{message.user.first_name}} {{message.user.last_name}} -- {{message.created_at}}</h5>
                    <p style="margin-left: 20px;">{{ message.message }}</p>
        
                    {% if message.user.id == request.session.user_id or user.access_level == 'teacher' %}
                    <form action="/image/{{this_image.id}}/delete/{{message.id}}">
                    {% csrf_token %}
                        <button class="btn btn-danger btn-sm" type="submit">Delete This Message</button>
                    </form>
                    {% endif %}
                <div style=" margin: 20px 0; border-radius: 5px; border: 1px gray solid; padding: 20px;">
                    <h6 style="font-weight: bolder;">Comments:</h6>
                    {% for comment in all_comments %}
                        {% if comment.message.id == message.id %}
                            <p style=" font-size: 0.8rem; font-weight: bold; margin-left:20px;">{{comment.user.first_name}} {{comment.user.last_name}} -- {{comment.created_at}}</p>
                            <p style="font-size:0.8rem; margin-left:40px;">{{comment.comment}}</p>
                    {% endif %}
                    {% endfor %}
                </div>
                
        
                <form action="/image/{{this_image.id}}/add_comment" method="POST">
                    {% csrf_token %}
                    <label for="comment">Post a comment</label><br>
                    <input type="hidden" value="{{message.id}}" name='message_id'>
                    <textarea name="comment" id="comment" class="form-control" rows="2" ></textarea><br>
                    <button class="btn btn-success btn-sm"  type="submit">Post a comment</button>
                </form>
                {% endif %}

            </div>
            {% endfor %}
        </div>

        <div class="contact_info">
            <span id="com_name">Ace Art Academy</span>
            <div id="com_ph_addr">
                <span>100 Charming Ave </span>
                <span>(916) 223-4586 </span>
            </div>

            <div id="com_e_med">
                <span>AceArt@gmail.com </span>
                <span style="margin-left: 10px;">Follow us on Facebook: #AceArt </span>
            </div>
        </div>

    </div>
</body>
</html>