*{
    margin: 0px;
    padding: 0px;
}
.container{
    margin: 10px auto;
    padding: 10px;
    width: 950px;
    height: 800px;
    border: black solid 1px;
    background-color: skyblue;
}
.nav{
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
}
.body{
    width: auto;
    height: 700px;
    background-color: darkcyan;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: black solid 1px;

}
.nav p{
    border: black solid 2px;
    margin: 10px 2px;
    padding: 2px;
}